body {
    background-image: url("../../src/dialog.png");
    background-size: contain;
    user-select: none;
}

img.game {
    scale: 0.75;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 75%;
    margin: auto;
}

div.game {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    height: fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

img.return {
    scale: 3;
    position: fixed;
    left: 0;
    right: 0;
    top: 80%;
    bottom: 0;
    margin: auto;
}

div.ratingdiv {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    max-height: 50%;
    height: 50%;
    width: fit-content;
    margin: auto;
    overflow: scroll;
}

table.rating {
    border: 2px black solid;
    background-color: white;
}

th, td {
    border: 2px black solid;
}

div.return {
    position: fixed;
    left: 0;
    right: 0;
    top: 80%;
    bottom: 0;
    display: block;
    height: fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

a {
    outline: 0;
}